main {
    section {
        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
            width: 50%;

            background-color: rgba(250, 254, 255, 0.46);
            backdrop-filter: blur(2px);

            display: flex;
            justify-content: space-around;

            border-radius: 0px 0px 30px 30px;

            align-items: center;

            a {
                color: black;
                text-decoration: none;

                h1 {
                    font-family: Italiana;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            button {
                background: rgba(246, 125, 13, 0.90);
                color: black;
                padding: 1rem;
                font-family: Italiana;
            }
        }
    }
}