<main>
    <section>
        <div>
            <button routerLink="help" mat-button>help</button>
            <a routerLink="">
                <h1>Time class</h1>
            </a>
            <button mat-button [matMenuTriggerFor]="menu">Name User<mat-icon>expand_more</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Profile</button>
                <button mat-menu-item>Vote</button>
                <button mat-menu-item>Logout</button>
            </mat-menu>
        </div>
    </section>
</main>