*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding: 2rem;
    section{
        div{
            font-size: 1rem;
            
            label{
                color: aliceblue;
               
            }
            input{

                margin-left: 1rem;
                margin-right: 1rem;
                margin-top: 0.5rem;
            }
        }
    }
}