main {
    background-image: url(/assets/Group\ 27.svg);
    min-width: 100vh;
    min-height: 100vh;
    

    section {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem;
        color: aliceblue;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1rem;
        font-weight: 600;
        line-height: 2rem;
        border: 0.3rem solid orangered;

        h2 {
            text-align: center;
            font-size: 3rem;
            margin-top: 1rem;
            font-weight: 900;
            color: orangered;

            span {
                color: aliceblue;
                border-bottom: 0.2rem solid aliceblue;
            }
        }

        .divDay {
            max-width: 25rem;
            min-width: 13rem;
            max-height: 30rem;
            min-height: 15rem;
            border : 0.2rem solid aliceblue;
            text-align: center;

            span{
                color: orangered;
            }

            .day{
                font-size: 1.5rem;
                color: orangered;
                span{
                    color: aliceblue;
                }
            }
        }
    }
    #sectionTwo{
       margin: 1rem;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
    }
    #sectionThree{
        
       margin: 1rem;
       display: flex;
       flex-direction: row;
       justify-content: space-around;

       div{
        min-width: 100%;
        min-height: 1rem;
        max-height: 5rem;
        display: flex;
       }
    }
    #maxCountDay{
        text-align: center;
        font-size: 2rem;
    }
}