<main>
    <section>
        <form [formGroup]="loginFg">
            <mat-form-field>
                <input type="email" formControlName="emailctrl" placeholder="Your email" matInput>
            </mat-form-field>
            <mat-form-field>
                <input type="password" formControlName="passwordCtrl" placeholder="Your password" matInput>
            </mat-form-field>
        </form>
        <button (click)="submitlogin()" mat-button>login</button>
        <div>{{globShow}}:show</div>
    </section>
</main>