<main>
    <section>
        <div>
            <form [formGroup]="singupFg" (ngSubmit)="submitfg()">
                <h2>ثبت نام</h2>
                <mat-form-field>
                    <mat-label>نام کامل </mat-label>
                    <input type="text" placeholder="مانند مثال Mehran Rezaeian" formControlName="nameCtrl" matInput>
                    <mat-hint>مانند مثال Mehran Rezaeian</mat-hint>
                    <mat-error>این فیلد اجباری است</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>ایمیل</mat-label>
                    <input type="email" placeholder="مانند مثال@gmail.com" formControlName="emailCtrl" matInput>
                    <mat-hint>مانند مثال@gmail.com</mat-hint>
                    <mat-error>این فیلد اجباری است.</mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" [disabled]="singupFg.invalid">ثبت نام</button>
            </form>
        </div>
    </section>
</main>