main {
    background-color: rgba(32, 32, 32, 1);
    color: white;
    min-width: 100vh;
    min-height: calc(100vh - 10vh);
    direction: rtl;

    section {
        display: flex;
        justify-content: center;
        padding: 1rem;
        border-bottom: 0.2rem solid orangered;

        .mainDiv {
            margin-top: 1rem;
            background-color: rgba(79, 79, 79, 0.416);
            min-width: 65rem;
            max-width: 100rem;
            min-height: 70vh;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1rem;
            border-bottom: 1rem solid orangered;

            form {
                button{
                    width: 25rem;
                    display: flex;
                    background-color: orangered;
                    margin: auto;
                }
                .day {
                    color: orangered;

                    .icon {
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}