<header>

</header>
<main>
    <section>
        <div class="mainDiv">
            <h1>رای گیری روز و ساعت کلاس پیشرفته</h1>
            <form>
                <section class="day">
                    <mat-checkbox>شنبه</mat-checkbox>
                    <mat-icon  fontIcon="keyboard_backspace" class="icon"></mat-icon>
                    <div class="time">
                        <mat-checkbox>ساعت 10 - 14</mat-checkbox>
                        <mat-checkbox>11 - 15 ساعت</mat-checkbox>
                        <mat-checkbox>12 - 16 ساعت</mat-checkbox>
                        <mat-checkbox>13 - 17 ساعت</mat-checkbox>
                        <mat-checkbox>14 - 18 ساعت</mat-checkbox>
                        <mat-checkbox>15 - 19 ساعت</mat-checkbox>
                        <mat-checkbox>16 - 20 ساعت</mat-checkbox>
                        <mat-checkbox>17 - 21 ساعت</mat-checkbox>
                    </div>
                </section>
                <!-- یکشنبه -->
                <section class="day">
                    <mat-checkbox>یکشنبه</mat-checkbox>
                    <mat-icon fontIcon="keyboard_backspace" class="icon"></mat-icon>
                    <div class="time">
                        <mat-checkbox>ساعت 10 - 14</mat-checkbox>
                        <mat-checkbox>11 - 15 ساعت</mat-checkbox>
                        <mat-checkbox>12 - 16 ساعت</mat-checkbox>
                        <mat-checkbox>13 - 17 ساعت</mat-checkbox>
                        <mat-checkbox>14 - 18 ساعت</mat-checkbox>
                        <mat-checkbox>15 - 19 ساعت</mat-checkbox>
                        <mat-checkbox>16 - 20 ساعت</mat-checkbox>
                        <mat-checkbox>17 - 21 ساعت</mat-checkbox>
                    </div>
                </section>
                <!-- دوشنبه -->
                <section class="day">
                    <mat-checkbox>دوشنبه</mat-checkbox>
                    <mat-icon fontIcon="keyboard_backspace" class="icon"></mat-icon>
                    <div class="time">
                        <mat-checkbox>ساعت 10 - 14</mat-checkbox>
                        <mat-checkbox>11 - 15 ساعت</mat-checkbox>
                        <mat-checkbox>12 - 16 ساعت</mat-checkbox>
                        <mat-checkbox>13 - 17 ساعت</mat-checkbox>
                        <mat-checkbox>14 - 18 ساعت</mat-checkbox>
                        <mat-checkbox>15 - 19 ساعت</mat-checkbox>
                        <mat-checkbox>16 - 20 ساعت</mat-checkbox>
                        <mat-checkbox>17 - 21 ساعت</mat-checkbox>
                    </div>
                </section>
                <!-- سه شنبه -->
                <section class="day">
                    <mat-checkbox>سه شنبه </mat-checkbox>
                    <mat-icon fontIcon="keyboard_backspace" class="icon"></mat-icon>
                    <div class="time">
                        <mat-checkbox>ساعت 10 - 14</mat-checkbox>
                        <mat-checkbox>11 - 15 ساعت</mat-checkbox>
                        <mat-checkbox>12 - 16 ساعت</mat-checkbox>
                        <mat-checkbox>13 - 17 ساعت</mat-checkbox>
                        <mat-checkbox>14 - 18 ساعت</mat-checkbox>
                        <mat-checkbox>15 - 19 ساعت</mat-checkbox>
                        <mat-checkbox>16 - 20 ساعت</mat-checkbox>
                        <mat-checkbox>17 - 21 ساعت</mat-checkbox>
                    </div>
                </section>
                <!-- چهارشنبه-->
                <section class="day">
                    <mat-checkbox>چهارشنبه</mat-checkbox>
                    <mat-icon fontIcon="keyboard_backspace" class="icon"></mat-icon>
                    <div class="time">
                        <mat-checkbox>ساعت 10 - 14</mat-checkbox>
                        <mat-checkbox>11 - 15 ساعت</mat-checkbox>
                        <mat-checkbox>12 - 16 ساعت</mat-checkbox>
                        <mat-checkbox>13 - 17 ساعت</mat-checkbox>
                        <mat-checkbox>14 - 18 ساعت</mat-checkbox>
                        <mat-checkbox>15 - 19 ساعت</mat-checkbox>
                        <mat-checkbox>16 - 20 ساعت</mat-checkbox>
                        <mat-checkbox>17 - 21 ساعت</mat-checkbox>
                    </div>
                </section>
                <!-- پنجشنبه-->
                <section class="day">
                    <mat-checkbox> پنجشنبه</mat-checkbox>
                    <mat-icon fontIcon="keyboard_backspace" class="icon"></mat-icon>
                    <div class="time">
                        <mat-checkbox>ساعت 10 - 14</mat-checkbox>
                        <mat-checkbox>11 - 15 ساعت</mat-checkbox>
                        <mat-checkbox>12 - 16 ساعت</mat-checkbox>
                        <mat-checkbox>13 - 17 ساعت</mat-checkbox>
                        <mat-checkbox>14 - 18 ساعت</mat-checkbox>
                        <mat-checkbox>15 - 19 ساعت</mat-checkbox>
                        <mat-checkbox>16 - 20 ساعت</mat-checkbox>
                        <mat-checkbox>17 - 21 ساعت</mat-checkbox>
                    </div>
                </section>
                <!-- جمعه-->
                <section class="day">
                    <mat-checkbox> جمعه</mat-checkbox>
                    <mat-icon fontIcon="keyboard_backspace" class="icon"></mat-icon>
                    <div class="time">
                        <mat-checkbox>ساعت 10 - 14</mat-checkbox>
                        <mat-checkbox>11 - 15 ساعت</mat-checkbox>
                        <mat-checkbox>12 - 16 ساعت</mat-checkbox>
                        <mat-checkbox>13 - 17 ساعت</mat-checkbox>
                        <mat-checkbox>14 - 18 ساعت</mat-checkbox>
                        <mat-checkbox>15 - 19 ساعت</mat-checkbox>
                        <mat-checkbox>16 - 20 ساعت</mat-checkbox>
                        <mat-checkbox>17 - 21 ساعت</mat-checkbox>
                    </div>
                </section>
            </form>
        </div>

    </section>
</main>