<header>

</header>
<main>
    <section>
        <div class="mainDiv">
            <h1>روز ها و ساعت های منتخب</h1>
            <div class="showVote">
                <div class="titleDiv">
                    <p class="title">{{nameFirstPriorityDay}}<span>اولیت 1</span></p>
                </div>
                <div class="timeDiv">
                    <p class="time">اولیت زمان 1:<span>{{nameFirstPriorityTime}}</span></p>
                    <p class="time">اولیت زمان 2:<span>{{nameSecondPriorityTime}}</span></p>
                    <p class="time">اولیت زمان 3:<span>{{nameThirdPriorityTime}}</span></p>
                    <p class="time">اولیت زمان 4:<span>{{nameFourthPriorityTime}}</span></p>
                </div>
            </div>
        </div>
    </section>
</main>