<div class="tabs">
    <a routerLink="/getVote" routerLinkActive="selected" class="tab bookmarks-Tab">
        <div class="tab-Title">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="how_to_vote"></mat-icon>
        </div>
    </a>
    <a routerLink="checkVote" routerLinkActive="selected" class="tab check-Tab">
        <div class="tab-Title">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="playlist_add_check"></mat-icon>
        </div>
    </a>
    <a routerLink="description" routerLinkActive="selected" class="tab notes-Tab">
        <div class="tab-Title">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="description"></mat-icon>
        </div>
    </a>
</div>